<div class="dashboard-page">
    <div class="container-flex">
        <app-recent-messages-widget class="widget"></app-recent-messages-widget>
        <app-upcoming-messages-widget class="widget"></app-upcoming-messages-widget>
    </div>

    <div class="container-flex">
        <task-card
            [glyphicon]="glyphicons.create"
            [title]="pageContent.create"
            (click)="goToCreate()">
        </task-card>
        <task-card
            [glyphicon]="glyphicons.schedule"
            [title]="pageContent.scheduledMessages"
            (click)="goToScheduledMessages()">
        </task-card>
        <task-card
            [glyphicon]="glyphicons.contacts"
            [title]="pageContent.contacts"
            (click)="goToContacts()">
        </task-card>
        <task-card
            [glyphicon]="glyphicons.template"
            [title]="pageContent.templates"
            (click)="goToTemplates()">
        </task-card>
        <task-card
            [glyphicon]="glyphicons.settings"
            [title]="pageContent.manageProfile"
            (click)="goToManageProfile()">
        </task-card>
        <task-card disabled="disabled"
            [glyphicon]="glyphicons.speech"
            [title]="pageContent.wantMore.title"
            [description]="pageContent.wantMore.description"
            [disabled]="true"
            (click)="goToManageProfile()">
        </task-card>
    </div>
</div>