.dashboard-page {
    max-width: 960px;
    margin: 100px auto;
}

.container-flex {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    @media screen and (max-width: 660px) {
        justify-content: space-around;
    }

    task-card {
        width: 300px;
        margin: 10px;
    }

    width: 100%;
    
    .widget {
        width: 100%;
        max-width: 460px;
        margin: 10px;
    }
}
