<h1 class="heading">Templates</h1>
<app-alert></app-alert>
<ng-container *ngIf="template">
    <mat-card>
        <mat-card-title>{{ formHeading }}</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <mat-form-field>
                <input matInput required placeholder="Title" type="text"
                [(ngModel)]="template.title" [maxlength]="maxTitleLength">
            </mat-form-field>
            
            <mat-form-field>
                <textarea matInput required placeholder="Message" type="text"
                [(ngModel)]="template.content" [maxlength]="maxContentLength"></textarea>
            </mat-form-field>

            <br>
            <mat-slide-toggle [(ngModel)]="template.isPublic">Public</mat-slide-toggle>

            <mat-card-actions align="end">
                <button mat-button (click)="cancel()">Cancel</button>
                <button *ngIf="isEditing" mat-button (click)="revert()">Revert</button>
                <button mat-button (click)="save()">Save</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</ng-container>