<h1 class="heading">Templates</h1>
<mat-card>
    <mat-card-title>{{ formHeading }}</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="Title" type="text">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Message" type="text">
        </mat-form-field>

        <br>
        <mat-slide-toggle>Public</mat-slide-toggle>

        <mat-card-actions align="end">
            <button mat-button (click)="cancel()">Cancel</button>
            <button mat-button (click)="save()">Save</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>