<page-content>
    <action-content>
        <div *ngIf="template" class="template-detail-page">
            <h1 class="heading">Templates</h1>
            <app-alert></app-alert>
            
            <button mat-raised-button color="primary" (click)="routeTemplateManagement()">
                <i class="material-icons md-18">arrow_back</i>
            </button>
            <br>
            <br>

            <mat-card>
                <mat-card-title> {{ template.title }} </mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>
                    <p> {{ template.content }} </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <br>
                <button mat-button (click)="send()">
                    <i class="material-icons md-18">send</i>
                </button>
                <button *ngIf="template.userId == currentUserId" mat-button (click)="edit()">
                    <i class="material-icons md-18">edit</i>
                </button>
                <button *ngIf="template.userId == currentUserId" mat-button (click)="delete()">
                    <i class="material-icons md-18">delete</i>
                </button>
            </mat-card>
        </div>
    </action-content>
</page-content>
