<!-- <h1>Hi {{currentUser.username}}!</h1> -->
<!-- <p>You're logged in with Angular 6!!</p> -->

<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->

<page-content>
    <action-content>
        <div class="template-detail-page">
            <h1 class="heading">Templates</h1>
            <mat-card>
                <mat-card-title>Template</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </action-content>
</page-content>
