<h2>{{ formHeading }}</h2>
<app-alert></app-alert>
<mat-card *ngIf="message">
  <mat-card-content>
    <mat-form-field>
      <mat-select required placeholder="To" [(ngModel)]="message.contact">
        <mat-option 
        *ngFor="let contact of this.contacts" 
        [value]="contact">
          {{ contact.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="datetime-local" id="time-to-send" 
      placeholder="Schedule for"
      min="{{ minScheduleDate | date:'yyyy-MM-ddTHH:mm'}}"
      [ngModel]="message.timeToBeSent | date:'yyyy-MM-ddTHH:mm'"
      (ngModelChange)="timeToSend = $event">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput required placeholder="Message"
      [(ngModel)]="message.content" [maxlength]="maxContentLength"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="goBack()">Cancel</button>
    <button mat-button (click)="save()" [disabled]="this.isWaitingOnDatabase">
      Save and schedule
    </button>
  </mat-card-actions>
</mat-card>