<page-content>
	<action-content>
		<h2>Contacts List</h2>
		<app-alert></app-alert>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search By Name" style="width:300px;" [(ngModel)]="searchTerm"/>
		</div>
		<a mat-link [routerLink]="['/create-contact']">+ ADD CONTACT</a>
		<div *ngIf="contacts?.length === 0">
			No contacts.
		</div>
		<div *ngIf="contacts?.length > 0">
			<app-contact *ngFor="let contact of filteredContacts" [contact]="contact">
			</app-contact>
    	</div>
	</action-content>
</page-content>
