<!-- <h1>Hi {{currentUser.username}}!</h1> -->
<!-- <p>You're logged in with Angular 6!!</p> -->

<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->

<page-content>
    <action-content>
        <div class="template-management-page">
            <h1 class="heading">Templates</h1>
            <h2>My Templates</h2>
            <button mat-raised-button color="primary">+New Template</button>
            <div class="row template-thumbnail-container">
                <div class="template-thumbnail"></div>
                <div class="template-thumbnail"></div>
                <div class="template-thumbnail"></div>
            </div>
            <h2>Public Templates</h2>
        </div>
    </action-content>
</page-content>
