.template-management-page {
    margin: 60px auto;
    .heading {
        text-align: center;
        width: 100%;
        max-width: 600px;
    }
    button {
        width: 100%;
        margin: 10px auto;
    }
}