<!-- <h1>Hi {{currentUser.username}}!</h1> -->
<!-- <p>You're logged in with Angular 6!!</p> -->

<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->

<page-content>
    <action-content>
        <div class="template-management-page">
            <h1 class="heading">Templates</h1>
            <h2>Recent</h2>
            <div class="row">
                <button mat-raised-button color="primary">Add Template</button>
            </div>
            <h2>Popular</h2>
        </div>
    </action-content>
</page-content>
