.template-management-page {
    .heading {
        text-align: center;
        width: 100%;
        max-width: 600px;
    }
    .template-thumbnail-container {
        overflow: scroll;
        width: 1250px;
        width: 100%;
    }
}